[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/tmux-power"]
	path = tmux/plugins/tmux-power
	url = https://github.com/wfxr/tmux-power.git
[submodule "tmux/plugins/tmux-smooth-scroll"]
	path = tmux/plugins/tmux-smooth-scroll
	url = https://github.com/azorng/tmux-smooth-scroll.git
